body {
	color: black;
	background: white;
	margin-bottom: 6ex;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

h1 {
  color: white;
  background: black;
  margin-bottom: 2ex
}

h2, h3, h4, h5, h6 {
  color: #039;
}

table {
  margin-right: auto;
  margin-bottom: 2ex;
}

thead td, th {
  color: black;
  background: #cccccc;
  font-size: smaller;
  font-weight: bold;
  text-align: center;
  padding: 0.5em 1ex;
  border: 1pt solid gray;
}

tbody td, td {
  color: black;
  background: #eeeeee;
  font-size: small;
  padding: 0.5em 1ex;
  border: 1pt solid gray;
}

pre {
  color: black;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.error {
    border: solid 2px #FF0000;  
}

span {
	font-size: 10pt;
	color: red;	
}

.moveagain { 
	margin-left:157px; 
}

.move { 
	margin-left:53px; 
}

#setup {

	background-color: #990000

}

#kanji{

	margin-right: 100px;
	width: 10px;
	height: 100px;
	float: right;
	font-size: 300%

}
